:root {
    --yale-blue: #0d3b66;
    --lemon-chiffon: #faf0ca;
    --naples-yellow: #f4d35e;
    --sandy-brown: #ee964b;
    --tomato: #f95738;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    color: var(--yale-blue);
    background-color: var(--lemon-chiffon);
}

#header {
    background-color: var(--yale-blue);
    color: white;
    padding: 10px 0;
    text-align: center;
}